<div class="row mt-5 pt-sm-2 pt-lg-3 pt-xl-4 pt-xxl-5">
  <div class="col-md-10 col-lg-8 col-xl-7 pt-md-3 pt-lg-4">
    <h2 class="pb-sm-2">Swahili Coast Adventures</h2>
    <p class="fs-lg mb-2 mb-sm-3 mb-lg-2">
      Dive deeper into coastal culture with guided tours of Old Town and Fort Jesus, a dhow dinner cruise at sunset, and a full-day excursion to Wasini Island for dolphin spotting and snorkeling. A hands-on Swahili cooking class lets you bring the coast’s flavors home. </p>  </div>
</div>
<div class="row pt-4 pt-lg-5">
  <div class="col-sm-8 mb-4 mb-sm-0">
    <img
      class="rounded-5"
      src="assets/img/trip/FortJesus.jpg"
      alt="Image"
    />
  </div>
  <div class="col-sm-4">
    <img
      class="rounded-5"
      src="assets/img/trip/oldtown.jpg"
      alt="Image"
    />
  </div>
</div>
