<section
  class="container py-5 my-lg-3 my-xl-4 my-xxl-5"
  data-aos="fade-up"
  data-aos-duration="600"
  data-aos-offset="280"
  data-disable-parallax-down="md"
>
  <div class="row align-items-xl-center py-2 py-sm-3 my-md-3 mb-lg-4 mb-xl-5">
    <div class="col-md-6 pb-4 pb-md-0 mb-3 mb-md-0">
      <img
        class="rounded-4"
        src="assets/img/landing/influencer/features.jpg"
        alt="Influencer"
      />
    </div>
    <div
      class="col-md-6 col-xl-5 offset-xl-1"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="180"
      data-disable-parallax-down="md"
    >
      <div class="ps-md-4 ps-xl-0">
        <h2 class="h1 pb-3 mb-2 mb-md-3 mb-xl-4">Meet the Founder</h2>
        <p>I am a Kenyan citizen from birth, though my journey has taken me across continents.
          I was born in the UK and moved to the United States as a child, but every summer I would return to Kenya.
          Those summers were filled with family gatherings, safaris in the wild, and coastal trips to Mombasa.
          They were more than just vacations; they were my tether to the culture, traditions, and land of my parents, who come from Luo, Kikuyu, and Kalenjin roots.
          Nyota Baraka was founded to extend that same sense of belonging to others. For the African diaspora, it is a journey home.
          For all travelers, it is an invitation to experience Kenya with authenticity, care, and connection.</p>
<!--        <ul class="list-unstyled pb-1 pb-xl-2">-->
<!--          @for (item of featuresInfluencesData; track $index) {-->
<!--            <li class="d-flex fs-lg pb-1 mb-3">-->
<!--              <i class="{{ item.icon }} text-primary fs-4 mt-n1 me-3"></i>-->
<!--              {{ item.title }}-->
<!--            </li>-->
<!--          }-->
<!--        </ul>-->
<!--        <h3 class="h5 text-body mb-lg-4">My achievements:</h3>-->
<!--        <img-->
<!--          class="d-dark-mode-none"-->
<!--          src="assets/img/landing/influencer/achievements-dark.svg"-->
<!--          alt="Achievements"-->
<!--        />-->
<!--        <img-->
<!--          class="d-none d-dark-mode-block"-->
<!--          src="assets/img/landing/influencer/achievements-light.svg"-->
<!--          alt="Achievements"-->
<!--        />-->
      </div>
    </div>
  </div>
</section>
