<div class="border-bottom py-4 py-lg-5">
  <div class="row">
    <div class="col-lg-11 col-xl-10">
      <h1>Arrival in Nairobi</h1>
      <p class="text-dark lead mb-2 mb-lg-3-0 mb-xl-4 mb-xxl-3">
        Your journey begins in Kenya’s capital city. Settle into Eka Hotel, conveniently located near the airport, and enjoy your first taste of Kenyan hospitality. Visit the Giraffe Centre, the Elephant Orphanage, and the National Museum for a warm introduction to Nairobi’s culture and history.
      </p>
    </div>
  </div>
</div>
